.container {
  width: 950px;
  margin: 0 auto;
}

.first {
  padding: 10px;
}

.img {
  width: 100%;
}

.form-control:last-child {
  margin-bottom: 10px;
}

input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid black;
}
